:root {
  --background-color: #0E1A23;
  --primary-color: #3EF3FA;
  --stroke-color: #60DCE0;
  --dot-color: hsl(182, 95%, 30%);
  --hover-color: rgba(62, 244, 250, 0.25);
  --stats-stroke-color: rgba(96, 220, 224, 0.5);
  --empty-mark-color: #094C4F;
  --winning-color: #FFCC00;

  --player1-ship-shadow: 0 0 8px rgba(0, 255, 98, 0.8);
  --player1-ship-stroke: #60E091;

  --player2-ship-shadow: 0 0 8px rgba(255, 136, 0, 0.8);
  --player2-ship-stroke: #E0A560;

  --hit-mark-shadow: 0 0 8px rgba(255, 0, 55, 0.8);
  --hit-mark-stroke: #E0607C;

  --miss-mark-shadow: 0 0 8px rgba(47, 166, 170, 0.8);
  --miss-mark-stroke: #60DCE0;


  --green: #44EA83;
  --red: #F90538;
  --orange: #F7890C;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.25);
  font-family: sans-serif;
  color: var(--primary-color);
}

.game-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.title {
  font-size: 1.5rem;
}

.game-container {
  display: flex;
  gap: 6rem;
  margin: auto;
}

.player-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.square {
  position: relative;
}

.square > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.square::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transform: none;
  top: 100%;
  left: 100%;
  background-image: radial-gradient(var(--dot-color) 1px, transparent 0);
  background-size: 2px 2px;
  background-position: top left;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.ship {
  width: 85%;
  aspect-ratio: 1;
  border-radius: 5px;
}

.player1-gameboard .ship {
  background: var(--green);
  border: 1px solid var(--player1-ship-stroke);
  box-shadow: var(--player1-ship-shadow);
}

.player2-gameboard .ship {
  background: var(--orange);
  border: 1px solid var(--player2-ship-stroke);
  box-shadow: var(--player2-ship-shadow);
}

.player2-gameboard {
  cursor: pointer;
}

.player2-gameboard .square:hover {
  background: var(--hover-color);
  border-radius: 5px;
}

.gameboard {
  width: clamp(300px, 23vw, 400px);
  aspect-ratio: 1;
  border: 1px solid var(--stroke-color);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(96, 220, 224, 0.1),
        inset 0 0 0 5px var(--background-color);
  background: transparent;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  padding: 2px;
}

.mark {
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.hit {
  background: var(--red);
  box-shadow: var(--hit-mark-shadow);
  border: 1px solid var(--hit-mark-stroke);
}

.miss {
  background: var(--primary-color);
  box-shadow: var(--miss-mark-shadow);
  border: 1px solid var(--miss-mark-stroke);
}

.empty {
  background: var(--background-color);
  box-shadow: var(--miss-mark-shadow);
  border: 1px solid var(--miss-mark-stroke);
}

.explosion {
  display: grid;
  place-content: center;
  width: 70%;
  aspect-ratio: 1;
}

.explosion svg {
  width: 100%;
  color: var(--red);
  filter: drop-shadow(0 3px 2px rgb(255 0 55 / 0.7));
}


.stats {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border: 2px dashed var(--stats-stroke-color);
  border-radius: 5px;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;
}

.name .crown {
  width: 1.5rem;
  aspect-ratio: 1;
}

.remaining-ships-label {
  display: flex;
  gap: 0.5rem;
}

.remaining-ships {
  color: var(--orange);
}

.quit-button {
  color: inherit;
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.2rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.quit-button:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

.disabled {
  pointer-events: none;
}

@keyframes showTurn {
  from {
    box-shadow: 0 0 20px rgba(96, 220, 224, 0.1),
        inset 0 0 0 5px var(--background-color);
  } to {
    box-shadow: 0 0 20px 5px rgba(96, 220, 224, 0.2),
        inset 0 0 0 5px var(--background-color);
  }
}

@keyframes hideTurn {
  from {
    box-shadow: 0 0 20px 5px rgba(96, 220, 224, 0.2),
        inset 0 0 0 5px var(--background-color);
  } to {
    box-shadow: 0 0 20px rgba(96, 220, 224, 0.1),
        inset 0 0 0 5px var(--background-color);
  }
}

.turn {
  box-shadow: 0 0 20px 5px rgba(96, 220, 224, 0.2),
        inset 0 0 0 5px var(--background-color);
  animation: showTurn 0.5s ease-out;
}

.not-turn {
  box-shadow: 0 0 20px rgba(96, 220, 224, 0.1),
        inset 0 0 0 5px var(--background-color);
  animation: hideTurn 0.5s ease-out;
}

@keyframes showWinnerBoard {
   from {
    box-shadow: none;
   } to {
    box-shadow: 0 0 20px 5px rgba(255, 204, 0, 0.2),
        inset 0 0 0 5px var(--background-color);
   }
}

.winner-board {
  box-shadow: 0 0 20px 5px rgba(255, 204, 0, 0.2),
        inset 0 0 0 5px var(--background-color);
  border: 1px solid var(--winning-color);
  animation: showWinnerBoard 0.5s ease;
}

.winner-stats {
  border: 2px dashed var(--winning-color);
}